.idea/
.git/
venv/
notebooks/.ipynb_checkpoints/

# experiment files
/notebooks/MediumTest.ipynb
/notebooks/Archive/CS_224W_Project.ipynb
/notebooks/Archive/wandb/
/notebooks/Archive/LastFM/
/doc/
/data/ml-100k/
